Write a programt that can print any size pyramide in frame. Name it - pyramida_printer.

Usage example:

	1) python3 pyramida_printer.py 10

output:
	    **
	   ****
	  ******
	 ********
	**********

	2) python3 pyramida_printer.py 19

output:
		 *
	     	***
	       *****
	      *******
	     *********
	    ***********
	   *************
	  ***************
	 *****************
	******************* 
